.submit {
  background-color: #e16464
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  width: 80%;
  align-items: flex-end;
}

.container > label {
  padding: 1rem 0 1rem 0
}

.app {
  display: block;
}

.error-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  border-radius: 4px;
  margin-bottom: 10px;
}

.icon {
  font-size: 16px;
  margin-right: 10px;
}

.text {
  font-size: 14px;
}


